conteudo_extraido.txt
discloud.config
extract-bot-A.bat
extract-bot-B.bat
extract-bot-C.bat

bots/BotA/config.json
bots/BotA/API/MusicAPI/cookies.txt

bots/BotB/config.json
bots/BotC/config.json
bots/BotD/config.json

package-lock.json
node_modules